.nav {
display:block;
height:32px;
background-image:url(../img/sprites_all.png);
margin-left:4px;
float:left;
}

.email {width:32px;background-position:0px 0px;}
.github {width:32px;background-position:-35px 0px;}
.stackoverflow {width:32px;background-position:-70px 0px;}
.linkedin {width:32px;background-position:-105px 0px;}

.email:hover {background-position:0px -32px;}
.github:hover {background-position:-35px -32px;}
.stackoverflow:hover  {background-position:-70px -32px;}
.linkedin:hover  {background-position:-105px -32px;}
