<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}Charlie Marsh is a programmer and student at Princeton University with major interests in functional programming and machine learning.{% endif %}">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }} | Charlie Marsh</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/styles.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/syntax.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/stackicons-min.css" rel="stylesheet" type="text/css" />
  <link href="https://plus.google.com/u/0/100601164815113053596/" rel='author'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-36552582-3', 'auto');
    ga('send', 'pageview');
  </script>
</head>
