<div class="row">
  <div class="col-sm-12 hidden-xs">
    <center>
      <h1
        style="font-size:80px; margin-top: 0.5em;margin-bottom:0"
      >
        <a class="implicit" href="/">
          {{ site.author.name }}
        </a>
      </h1>
      <div style="margin-bottom: 12px">
        <code style="font-size:18px">
          <span class="code-red">type</span> <a class="implicit" href="/all/">blog</a> = <span class="code-orange">Post</span> <span class="code-red">of</span> (<span class="code-blue">string</span> <span class="code-red">*</span> <a class="implicit" href="/all/">blog</a>) | <a class="implicit code-orange" href="/">Home</a> | <a class="implicit code-orange" href="/about/">About</a>
        </code>
      </div>
      <a target="_blank" href="mailto:{{ site.author.email }}">Email</a>
      &sdot;
      <a target="_blank" href="http://www.github.com/crm416">GitHub</a>
      &sdot;
      <a target="_blank" href="https://twitter.com/charliermarsh">Twitter</a>
      &sdot;
      <a target="_blank" href="/static/pdf/Charlie_Marsh_Resume.pdf">Résumé</a>
    </center>
    <hr />
  </div>
</div>
