<h1 style="font-size:50px">
  <a class="blank" href="/">
    Charlie<br>Marsh
  </a>
</h1>
<p>
  <a class="implicit" href="/">Home</a> &sdot; <a class="implicit" href="/static/pdf/Charles_Marsh_CV.pdf">CV</a>&sdot; <a class="implicit" href="/about/">About</a>
</p>
<h2>
  Programmer,<br>student.
</h2>
<p>I'm into functional<br>programming,<br>machine learning,<br> and other fun stuff.<p>
<p>Find me on:</p>
<a href="mailto:crmarsh@princeton.edu"><img class="icon" src="/static/img/email.png"></a>
<a href="http://www.github.com/crm416"><img class="icon" src="/static/img/github.png"></a>
<a href="http://stackoverflow.com/users/1450892/charles-marsh"><img class="icon" src="/static/img/stackoverflow.png"></a>
<a href="https://www.twitter.com/crm416"><img class="icon" src="/static/img/twitter.png"></a>
</div>
<div class="span2 visible-phone">
  <div>
    <p style="font-size:25px"><a class="blank" href="/">Charlie Marsh</a>  <div style="margin-top:-10px"><code class="custom"><span class="code_red">type</span> <span class="code_blue">blog</span></code></div>
  </div>
  <hr />
</div>