<h1 style="font-size:50px">
  <a class="blank" href="/">
    Charlie<br>Marsh
  </a>
</h1>
<p>
  <a class="implicit" href="/">Home</a> &sdot; <a class="implicit" href="/static/pdf/Charles_Marsh_CV.pdf">CV</a>&sdot; <a class="implicit" href="/about/">About</a>
</p>
<h2>
  Programmer,<br>student.
</h2>
<p>I'm into functional<br>programming,<br>machine learning,<br> and other fun stuff.<p>
<nav class="st-shape-r4 st-multi-color" style="font-size: 15px; margin-right: -5em">
  <a target="_blank" title="Email" style="border-bottom:none" class="st-icon-email2" href="mailto:crmarsh@princeton.edu"><span></span>Email</a>
  <a target="_blank" title="GitHub" style="border-bottom:none" class="st-icon-github-alt" href="http://www.github.com/crm416"><span></span>GitHub</a>
  <a target="_blank" title="Stack Overflow" style="border-bottom:none" class="st-icon-stackoverflow" href="http://stackoverflow.com/users/1450892/charles-marsh"><span></span>Stack Overflow</a>
  <a target="_blank" title="Twitter" style="border-bottom:none" class="st-icon-twitter" href="https://www.twitter.com/crm416">Twitter</a>
</nav>
