<!DOCTYPE html>
  {% include header.html %}

  <head>
    <style type="text/css">
      .spacer {
        height:20px;
      }
      table td {
        vertical-align:top;
      }
    }
    </style>
  </head>

  <body class="index">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2 hidden-phone"></div>
        <div class="span2 hidden-phone" style="position:fixed">
          {% include sidebar.html %}

          <div class="span9 offset1">
            <h1>About Me</h1>
            I'm a Senior at Princeton University majoring in Computer Science with big interests in machine learning, natural language processing, and functional programming. More personally, I've lived in London, England for the last 13 years (although I've mostly been at university in New Jersey for the last three). That means I'm both British and American; but no, I do not have a British accent.
            <h2>Where I've Worked</h2>
            <section>
              <table style="border-collapse:separate; border-spacing:10px">
                {% for job in site.data.jobs %}
                <tr>
                  <td rowspan="2" align="center"><div class="zoom"><img src="{{ job.img }}" alt="{{ job.company }}" align="middle"></div></td>
                  <td style="font-weight:bold">{{ job.company }}</td>
                </tr>
                <tr>
                  <td>{{ job.title }}, {{ job.team }} [{{ job.dates }}]</td>
                </tr>
                {% unless forloop.last %}
                  <tr class="spacer"><td></td></tr>
                {% endunless %}
                {% endfor %}
              </table>
            </section>
            <br><br>
            {% include rss.html %}
          </div>
        </div>
      </div>
  </body>
</html>