<!DOCTYPE html>
  {% include head.html %}

  <head>
    <style type="text/css">
      .spacer {
        height:8px;
      }
      table td {
        vertical-align:top;
      }
    }
    </style>
  </head>

  <body class="index">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <h1><a class="implicit" href="/">About</a></h1>
          (Or see my <a target="_blank" href="/static/pdf/Charlie_Marsh_Resume.pdf">résumé</a>.)<br><br>

          I work on the engineering team at <a target="_blank" href="https://www.springdisc.com">Spring Discovery</a>, where we're using machine learning to fight back against the diseases of old age and accelerate the discovery of anti-aging therapies. Our mission is to extend healthy human lifespan and dramatically reduce disease.<br><br>

          At Spring, I build machine learning infrastructure and develop machine learnt models, working in tight coordinate with some amazing biologists.<br><br>

          Before Spring, I was at <a target="_blank" href="https://www.khanacademy.org">Khan Academy</a>, where I joined as an intern and left a few years later as a Senior Software Engineer and Engineering Lead.<br><br>

          In my time at Khan Academy, I hopped around the stack, contributing to the mobile native, web, and mobile web products, and writing code across the front-end (React et al) and back-end (Python, on App Engine). For the last year or so of my time there, I helped lead the Independent Learning team, responsible for the cross-stack ownership and development of Khan Academy's self-directed learner experience. It was an incredible, and incredibly rewarding, experience.<br><br>

          In between the two, I spent time at <a target="_blank" href="https://www.cedar.com">Cedar</a>, a healthcare technology company based in New York City building software for hospitals and other healthcare providers. At Cedar, I operated as both a full-stack engineer (building features and technical infrastructure) and a forward-deployed engineer, working closely with our clients to integrate with the Cedar platform.<br><br>

          I studied Computer Science at Princeton University, graduating in June 2015 as the student in top academic standing in my major. In my four years at Princeton, I interned as a software engineer at <a target="_blank" href="https://www.microsoft.com">Microsoft</a> and (surprise) <a target="_blank" href="https://www.khanacademy.org">Khan Academy</a>.<br><br>

          My academic interests have shifted over time, from functional programming (I've done research under <a target="_blank" href="http://www.cs.princeton.edu/~dpw/">Professor David Walker</a>), to machine learning, to computational linguistics (my senior thesis on noun compounds was advised by <a target="_blank" href="https://en.wikipedia.org/wiki/Christiane_Fellbaum">Professor Christiane Fellbaum</a>). Today, I'm focused on learning as much as I can about the healthcare space (a relatively new interest) and building software (a somewhat older one).<br><br>

          I try to write, though I don't publish as often as I'd like. My technical blog posts have been featured in Python Weekly, JavaScript Weekly, on the front page of Hacker News, and elsewhere.<br>

          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
