<!DOCTYPE html>
  {% include header.html %}

  <head>
    <style type="text/css">
      .spacer {
        height:20px;
      }
      table td {
        vertical-align:top;
      }
    }
    </style>
  </head>

  <body class="index">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 hidden-xs">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
              <div style="position:fixed">
                {% include sidebar.html %}
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-9">
          <h1>About</h1>

          I'm a senior at Princeton University majoring in computer science.<br><br>

          As a software engineer, I've interned as <a target="_blank" href="https://www.microsoft.com">Microsoft</a> and <a target="_blank" href="https://www.khanacademy.org">Khan Academy</a>. I mostly work with JavaScript (across the stack), but I've also written production Python and toy around with other languages in my side projects.<br><br>

          My academic interests have shifted over time, from functional programming (I've done research under <a target="_blank" href="http://www.cs.princeton.edu/~dpw/">Professor David Walker</a>), to machine learning, to computational linguistics (my senior thesis on noun compounds was advised by <a target="_blank" href="https://en.wikipedia.org/wiki/Christiane_Fellbaum">Professor Christiane Fellbaum</a>).<br><br>

          Today, I'm most fascinated by Bitcoin and cryptocurrency technologies.<br><br>

          I like to write. My technical blog posts have been featured in Python Weekly, JavaScript Weekly, on the front page of Hacker News, and elsewhere.<br><br>

          I'm very active on <a target="_blank" href="https://www.twitter.com/crm416">Twitter</a>.<br><br>
          <h2>Where I've Worked</h2>
          <section>
            <table style="border-collapse:separate; border-spacing:10px">
              {% for job in site.data.jobs %}
              <tr>
                <td rowspan="2" align="center"><div><img class="icon" src="{{ job.img }}" alt="{{ job.company }}" align="middle"></div></td>
                <td style="font-weight:bold">{{ job.company }}</td>
              </tr>
              <tr>
                <td>{{ job.title }}, {{ job.team }} [{{ job.dates }}]</td>
              </tr>
              {% unless forloop.last %}
                <tr class="spacer"><td></td></tr>
              {% endunless %}
              {% endfor %}
            </table>
          </section>
          {% include rss.html %}
        </div>
      </div>
    </div>
  </body>
</html>