<!DOCTYPE html>
  {% include header.html %}

  <body class="index">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2 hidden-phone"></div>
        <div class="span2 hidden-phone" style="position:fixed">
          {% include sidebar.html %}
          <div class="span9 offset1" style="padding-left:20px">
          <!-- using the split filter -->
          {% for post in site.posts %}
          {% if post.content contains '<!--break-->' %}
          <div class="post-preview">
            <h1><a href="/~crmarsh{{post.url}}" class="implicit">{{ post.content | split:'</h1>' | first | strip_html }}</a></h1>
            {{ post.content | split:'</h1>' | last | split:'<!--break-->' | first }}
            <div class='read-more' style='text-align:center'><a href="/~crmarsh{{ post.url }}">Read more</a></div>
          </div>
          {% if forloop.last %}
            <br>
            {% include rss.html %}
          {% endif %}
          {% endif %}
          {% endfor %}
      </div>
    </div>
  </body>
</html>
