<!DOCTYPE html>
  {% include header.html %}
  <body class="index">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <h1><a class="implicit" href="/">{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}</a></h1>
          {{ content }}
          <p class="date">Posted on {{ page.date | date: "%B %-d, %Y" }}.</p>
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
