<!DOCTYPE html>
{% include header.html %}

  <body class="index">
    <div id="wrapper">
      <div id="sidebar-wrapper">
        <div style="margin-left:40px">
        {% include sidebar.html %}
        </div>
      </div>
      <div id="page-content-wrapper">
        <div class="page-content">
          <div class="container-fluid" style="float:left">
              <div class="row">
                <div class="col-md-10">
                  {{ content }}
                  <p class="date">Posted on {{ page.date | date: "%B %-d, %Y" }}.</p>
                  {% include rss.html %}
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
