<!DOCTYPE html>
  {% include header.html %}

  <body class="index">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2 hidden-phone"></div>
        <div class="span2 hidden-phone" style="position:fixed">
          {% include sidebar.html %}

          <div class="span9 offset1">
            <h1>My Work</h1>
            <p>For an abridged list, see my <a href="/">homepage</a>.</p>
            <h2 id="projects">Projects <a class='anchor-wrap' href="#projects" title="Permalink to this headline">¶</a></h2>
            <section>
              <div>
                {% for project in site.data.projects %}
                <h3 class="item"><a class="implicit" style="color: grey" href="{{ project.url }}">{{ project.name }}</a></h3>
                <div style="margin-top:-10px">{{ project.description }}</div>
                {% endfor %}
              </div>
            </section>

            <h2 class="category" id="papers">Papers <a class='anchor-wrap' href="#papers" title="Permalink to this headline">¶</a></h2>
            <section>
              <div>
                {% for paper in site.data.papers %}
                <h3 class="item"><a class="implicit" style="color: grey" href="{{ paper.url }}">{{ paper.name }}</a></h3>
                <div style="margin-top:-10px">{{ paper.description }}</div>
                {% endfor %}
              </div>
            </section>

            <h2 class="category" id="posts">Posts <a class='anchor-wrap' href="#posts" title="Permalink to this headline">¶</a></h2>
            {% for collection in site.data.posts %}
            <div>{{  collection.year  }}:
            <ul class="posts-list">
              {% for post in collection.posts %}
              <li><a target="_blank" class="implicit" href="{{ post.url }}">{{ post.name }}</a></li>
              {% endfor %}
            </ul>
            </div>
            {% endfor %}

            <h2 class="category" id="non-programming">Non-Programming<a class='anchor-wrap' href="#non-programming" title="Permalink to this headline">¶</a></h2>
            <ul class="posts-list">
              {% for post in site.data.non_programming %}
              <li><a target="_blank" class="implicit" href="{{ post.url }}">{{ post.name }}</a></li>
              {% endfor %}
            </ul>
            <br><br>
            {% include rss.html %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>