<!DOCTYPE html>
  {% include head.html %}

  <body class="index">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
          <h1 id="projects"><a class='implicit' href="#projects" title="Permalink to this headline">Projects</a></h1>
          <section>
            <div>
              {% for project in site.data.projects %}
              <h3 class="item"><a target="_blank" href="{{ project.url }}">{{ project.name }}</a></h3>
              <div>{{ project.description }}</div>
              {% endfor %}
            </div>
          </section>

          <h1 class="category" id="papers"><a class='implicit' href="#papers" title="Permalink to this headline">Papers</a></h1>
          <section>
            <div>
              {% for paper in site.data.papers %}
              <h3 class="item"><a target="_blank" href="{{ paper.url }}">{{ paper.name }}</a></h3>
              <div>{{ paper.description }}</div>
              {% endfor %}
            </div>
          </section>

          <h1 class="category" id="posts"><a class='implicit' href="#posts" title="Permalink to this headline">Posts</a></h1>
          {% for collection in site.data.posts %}
          <div>{{  collection.year  }}:
          <ul class="posts-list">
            {% for post in collection.posts %}
            <li><a target="_blank" href="{{ post.url }}">{{ post.name }}</a>{% if post.coverage %} ({{ post.coverage }}){% endif %}</li>
            {% endfor %}
          </ul>
          </div>
          {% endfor %}

          <h2 class="category" id="non-programming"><a class='implicit' href="#non-programming" title="Permalink to this headline">Non-Programming</a></h2>
          <ul class="posts-list">
            {% for post in site.data.non_programming %}
            <li><a target="_blank" href="{{ post.url }}">{{ post.name }}</a> [{{ post.year }}]</li>
            {% endfor %}
          </ul>
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
